$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$outline: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
$yellow: #e1ad01;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
