@use "../../styles/partials/variables" as *;
@use "../../styles//partials/mixins" as *;

.hero {
  background-image: url(../../assets/cannabis-hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 94vh;
  background-position: 50%;

  &__title {
    font-size: 4rem;
    text-shadow: $outline;
    margin-bottom: 1rem;
    text-align: center;

    @include tablet {
      font-size: 6rem;
    }

    @include desktop {
      font-size: 7rem;
      margin-bottom: 3rem;
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 2.5rem;
    text-shadow: $outline;

    @include tablet {
      font-size: 4rem;
    }

    @include desktop {
      font-size: 4rem;
    }
  }

  &__title-container {
    padding: 3rem 2.5rem 2rem 2.5rem;

    @include tablet {
      padding-top: 10rem;
    }
  }

  &__button-container {
    margin: 3rem 20% 0 20%;

    @include tablet {
      display: flex;
      margin: 3rem 19% 0 19%;
    }

    @include desktop {
      margin: 5rem 30% 0 30%;
      justify-content: space-between;
    }
  }

  &__link {
    width: 0rem;
    height: 0rem;
  }

  &__button {
    &--divider {
      width: 18rem;
    }
  }
}
